/**********************************************************************
 * Common layout
 */

 :root {
    color-scheme: dark;
    --background: #222;
    --blackout: #111;
    --header: #444;
    --admin: #664;
    --text: #DDD;
    --link: #BBF;
    --grid: #999;
    --chat-timestamp: #666;
    --chat-system: #888;
}
// FIXME: use this
MAIN.dimmed {
    --header: #111;
    --text: #444;
    --grid: #444;
}

* {
    box-sizing: border-box;
}

/* svg wibbling */
BODY {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    background-color: var(--background);
}

.settings {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &>DIV {
        flex: 0 0 auto;
        text-align: center;
        z-index: 9999;
        background: var(--header);
        border: 2px solid var(--grid);
        border-radius: 1em;
        box-shadow: var(--grid) 0 0 1em;
        padding: 1em;

        H2 {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: .5rem;
        }

        TABLE {
            margin: auto;
        }

        INPUT[type="text"],
        BUTTON {
            width: 100%;
        }
    }

    TABLE {
        TD:first-child {
            text-align: right;
            padding-right: .25rem;
        }

        TD:nth-child(2) {
            text-align: left;
        }
    }
}

MAIN {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    display: grid;
    gap: 1px 1px;
    background-color: var(--grid);

    color: var(--text);

    A {
        color: var(--link);
    }

    HEADER {
        grid-area: header;
        text-align: center;
        display: flex;
        align-items: center;
        background: var(--header);
        height: 2em;
        padding: 0 1rem;

        A, svg {
            color: inherit;
            flex: 0 0 auto;
            width: 4rem;
            font-size: 1rem;
        }

        H1 {
            flex: 1 1 auto;
            font-size: 1.25rem;
        }

        INPUT {
            font-size: 1em;
            padding: 0.2rem 0.5rem;
            border-radius: 0.5rem;
            max-width: 50%;
        }
    }

    ARTICLE {
        background: var(--background);
    }

}

/**********************************************************************
 * Page-specific layouts
 */

MAIN.login {
    grid-template:
        "header" min-content
        "content" 1fr
        / 1fr;
    text-align: center;

    ARTICLE {
        grid-area: content;
        padding: 1rem;

        FORM {
            max-width: 30em;
            margin: auto;
        }

        INPUT[type="text"],
        BUTTON,
        SELECT {
            font-size: 2rem;
            padding: 0.5rem;
            width: 100%;
            border-radius: 0.5rem;
            margin: .5rem auto;
        }
    }
}

MAIN.room.nochat {
    .chat {
        display: none;
    }

    .viewers {
        display: none;
    }
}
MAIN.room.user {
    .movie_list {
        display: none;
    }

    .video {
        .controls {
            display: none;
        }
    }
}

MAIN.room {
    @media (orientation: landscape) {
        grid-template:
            "header   header" min-content
            "movies   chat  " min-content
            "video    chat  " 1fr
            "viewers  chat  " min-content
            / 1fr     min-content;
    }

    @media (orientation: portrait) {
        grid-template:
            "header " min-content
            "movies " min-content
            "video  " min-content
            "chat   " 1fr
            "viewers" min-content
            / 1fr;
    }

    .movie_list {
        grid-area: movies;
        display: flex;
        min-height: 2em;

        SELECT {
            flex: 1 1 auto;
            width: 10px;
        }

        BUTTON {
            flex: 0 0 auto;
        }
    }

    .video {
        grid-area: video;
        background: var(--blackout);
        display: flex;
        flex-direction: column;

        // in landscape mode, we want to fit in the box that is left
        // over after we have the header on top, the chat on the right,
        // and the viewer list below
        @media (orientation: landscape) {
            // scaling a video to 100% of its container doesn't work when
            // the container is flex-y or grid-y, but scaling a div to 100%
            // of container, and then setting the video to "position: absolute;"
            // within the div, seems ok...
            .videoScaler {
                flex: 1 1 auto;
                width: 100%;
                height: 100%;
                position: relative;

                VIDEO {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        // in portrait mode, we want the video to be the width of the
        // screen and other things can fit around it
        @media (orientation: portrait) {
            .videoScaler {
                flex: 1 1 auto;
                width: 100%;
                VIDEO {
                    width: 100%;
                }
            }
        }

        .video_hint {
            color: black;
            background: #D44;
            padding: 0.2em;
            flex: 1 1 auto;
        }

        .controls {
            flex: 1 1 auto;
            display: flex;

            INPUT {
                flex: 1 1 auto;
                min-width: 0px;
            }

            BUTTON {
                flex: 0 0 auto;
            }

            SPAN {
                flex: 0 0 auto;
                align-self: center;
                padding: 0 .5rem;
            }
        }
    }

    .blackout {
        grid-area: video;
        background: var(--blackout);
    }

    .chat {
        background: var(--background);
        grid-area: chat;
        display: flex;
        flex-direction: column;
        min-width: min(20em, 50vw);

        .chat_log {
            flex: 1 1 auto;
            height: 2em;
            overflow-wrap: break-word;
            overflow-y: scroll;
            text-align: left;

            display:flex;
            flex-direction:column-reverse;

            UL {
                margin: 0;
                padding: 1em;

                LI {
                    display: block;

                    .absolute_timestamp {
                        color: var(--chat-timestamp);
                    }

                    .absolute_timestamp::after {
                        content: " ";
                    }
                    .message {
                        .spoiler {
                            color: var(--blackout);
                            background: var(--blackout);
                            //border: 1px solid var(--grid);
                            cursor: pointer;
                            //padding: 0.1em;
                            //border-radius: 0.2em;
                        }
                        .spoiler:hover,
                        .spoiler.show {
                            color: var(--text);
                            background: var(--background);
                        }
                    }
                }

                LI.system {
                    color: var(--chat-system);

                    .user {
                        display: none;
                    }
                }

                LI.user {
                    .user::before {
                        color: var(--chat-system);
                        content: "<";
                    }

                    .user::after {
                        color: var(--chat-system);
                        content: "> ";
                    }
                }
            }
        }

        .chat_input {
            flex: 0 0 auto;
            display: flex;

            INPUT {
                flex: 1 1 auto;
                font-size: 1.5rem;
                width: 100%;
            }
        }
    }

    .viewers {
        grid-area: viewers;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        min-height: 3em;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background: var(--header);

        LI {
            flex: 0 0 auto;
            display: inline-block;
            border: 1px solid var(--grid);
            background: var(--header);
            border-radius: 1em;
            padding: 0.5em;
        }

        .admin {
            background: var(--admin);
            font-weight: bold;
        }
    }
}
