# app-specific
media/
data/

# python
.venv
.mypy_cache
.ruff_cache
__pycache__
*.egg-info

# rust
target

# js
node_modules
dist

# ide files
.ropeproject

# storybook
*storybook.log
storybook-static
