services:
  frontend:
    build: ./frontend
    ports:
      - "2002:3000"

  backend:
    build: ./backend
    ports:
      - "2001:2001"
    volumes:
      - ./media/processed:/media/processed:ro

  mqtt:
    image: eclipse-mosquitto
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ${PWD}/data/mqtt/:/mosquitto/data/:rw
      - ${PWD}/mqtt/:/mosquitto/config/:ro

  encoder:
    build: ./encoder
    user: "1000"
    volumes:
      - ./media/source:/media/source:ro
      - ./media/processed:/media/processed:rw
