services:
  frontend:
    build: ./frontend
    ports:
      - "2002:3000"

  backend:
    build: ./backend
    ports:
      - "2001:2001"
    volumes:
      - ./media/processed:/media/processed:ro

  mqtt:
    build: ./mqtt
    ports:
      - "1883:1883"
      - "9001:9001"

  encoder:
    build: ./encoder
    user: "1000"
    volumes:
      - ./media/source:/media/source:ro
      - ./media/processed:/media/processed:rw

volumes:
  mqtt-data:
