services:
  cinema:
    build: ./cinema
    ports:
      - "2001:2001"
    volumes:
      - ./media/processed:/media/processed:ro

  encoder:
    build: ./encoder
    user: "1000"
    volumes:
      - ./media/source:/media/source:ro
      - ./media/processed:/media/processed:rw
