.movieSelectDialog {
    width: 90vw;
    height: 90vh;

    H2 {
        SELECT {
            flex: 1 1 auto;
            padding: 0.5rem;
            font-size: 1rem;
            border-radius: 0.5rem;
            background: var(--background);
            color: var(--text);
            border: 1px solid var(--grid);
        }

        BUTTON {
            flex: 0 0 auto;
            width: auto;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border-radius: 0.5rem;
            background: #c44;
            color: white;
            border: none;
            cursor: pointer;

            &:hover {
                background: #d55;
            }
        }
    }

    .movieScroll {
        flex: 1 1 auto;
        overflow-y: auto;
    }
    .movieGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 1rem;
        overflow-y: auto;

        .movieItem {
            cursor: pointer;
            border: 2px solid var(--grid);
            border-radius: 0.5rem;
            transition: border-color 0.2s;
            aspect-ratio: 16/9;
            position: relative;

            &:hover {
                border-color: var(--link);
            }

            &.selected {
                border-color: #4a4;
                box-shadow: 0 0 10px #4a4;
            }

            IMG {
                border-radius: 0.5rem 0.5rem 0 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .movieTitle {
                background: rgba(0, 0, 0, 0.7);
                padding: 0.5rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                position: absolute;
                bottom: 0;
                width: 100%;
                border-radius: 0 0 0.5rem 0.5rem;
                color: var(--text);
            }
        }
    }
}