.viewers {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    background: var(--grid);
    gap: 1px;

    LI {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--header);
        padding: 0.05rem 0.5rem;
    }

    LI.admin {
        background: oklch(from var(--header) l 0.05 90);
    }
}
