/**********************************************************************
 * Common layout
 */

:root {
    color-scheme: dark;
    --background: #222;
    --grid: #999;
    --header: #444;
    --blackout: #111;

    --admin: #664;

    --text-lightness: 0.9;
    --text: oklch(var(--text-lightness) 0 0);
    --link: oklch(var(--text-lightness) 0.4 270);
}
// FIXME: use this
MAIN.dimmed {
    --header: #111;
    --text: #444;
    --grid: #444;
}

* {
    box-sizing: border-box;
}

BODY {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    background-color: var(--background);
}

#dialog_overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;

    #dialog {
        flex: 0 0 auto;
        text-align: center;
        z-index: 9999;
        background: var(--header);
        border: 1px solid var(--grid);
        border-radius: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        H2 {
            flex: 0 0 auto;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
        }
    }
}

MAIN {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    display: grid;
    gap: 1px 1px;
    background-color: var(--grid);

    color: var(--text);

    A {
        color: var(--link);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    HEADER {
        grid-area: header;
        text-align: center;
        display: flex;
        align-items: center;
        background: var(--header);
        height: 2rem;
        padding: 0 1rem;
        gap: 1rem;
        max-width: 100dvw;

        svg {
            color: inherit;
            flex: 0 0 auto;
            width: 4rem;
            font-size: 1rem;
        }

        H1 {
            flex: 1 1 auto;
            font-size: 1.25rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 0;
        }
    }

    .notification {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        z-index: 1000;
    }

    ARTICLE {
        background: var(--background);
    }
}

/**********************************************************************
 * Page-specific layouts
 */

MAIN.login {
    grid-template:
        "header" min-content
        "content" 1fr
        / 1fr;
    text-align: center;

    ARTICLE {
        grid-area: content;
        padding: 1rem;

        FORM {
            max-width: 30em;
            margin: auto;
        }

        INPUT[type="text"],
        BUTTON,
        SELECT {
            font-size: 2rem;
            padding: 0.5rem;
            width: 100%;
            border-radius: 0.5rem;
            margin: 0.5rem auto;
        }
    }
}

MAIN.room.nochat {
    #chat {
        display: none;
    }

    #viewer_list {
        display: none;
    }
}
MAIN.room.user {
    #main_video {
        [data-role="controls"] {
            display: none;
        }
    }
}

MAIN.room {
    @media (orientation: landscape) {
        grid-template:
            "header   header" min-content
            "video    chat  " 1fr
            "viewers  chat  " min-content
            / 1fr min-content;
    }

    @media (orientation: portrait) {
        grid-template:
            "header " min-content
            "video  " min-content
            "chat   " 1fr
            "viewers" min-content
            / 1fr;
    }

    #main_video {
        grid-area: video;
    }

    #blackout {
        grid-area: video;
        background: var(--blackout);
    }

    #chat {
        grid-area: chat;
        min-width: min(20em, 50vw);
    }

    #viewer_list {
        grid-area: viewers;
    }
}
