@import 'fontawesome';
@import 'solid';

* {
  box-sizing: border-box;
}

BODY {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  background-color: #222;
  color: #DDD;

  A {
    color: #BBF;
  }
}

MAIN {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

MAIN.room.admin {
  grid-template-columns: 1fr 1fr 20em;
  grid-template-rows: 4em 2em 1fr 1fr 3em;
  grid-template-areas:
    "header header header"
    "movies movies chat"
    "video video chat"
    "video video chat"
    "viewers viewers chat";

  @media (orientation: portrait) {
    grid-template-columns: 1fr;
    grid-template-rows: 4em 2em min-content 1fr 3em;
    grid-template-areas:
      "header"
      "movies"
      "video"
      "chat"
      "viewers";
      VIDEO {
        height: auto;
        border-bottom: 1px solid #666;
      }
      .chat {
        border-left: 0;
      }
    }
}

MAIN.room.user {
  grid-template-columns: 1fr 1fr 20em;
  grid-template-rows: 4em 1fr 1fr 3em;
  grid-template-areas:
    "header header header"
    "video video chat"
    "video video chat"
    "viewers viewers chat";

  @media (orientation: portrait) {
    grid-template-columns: 1fr;
    grid-template-rows: 4em min-content 1fr;
    grid-template-areas:
      "header"
      "video"
      "chat";

    VIDEO {
      height: auto;
      border-bottom: 1px solid #666;
    }
    .chat {
      border-left: 0;
    }
    .viewers {
      display: none;
    }
  }

  .movie_list {
    display: none;
  }
}

MAIN.room {
  display: grid;
  gap: 0px 0px;

  HEADER {
    grid-area: header;
  }

  VIDEO {
    grid-area: video;
    background: #111;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .blackout {
    grid-area: video;
    background: #111;
  }

  .chat {
    grid-area: chat;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #666;

    .chat_log {
      flex: 1 1 auto;
      height: 2em;
      overflow: scroll;
      text-align: left;
      margin: 0;
      padding: 1em;

      LI {
        display: block;
      }

      LI.system {
        color: #888;

        .user {
          display: none;
        }
      }

      LI.user {
        .user::before {
          color: #888;
          content: "<";
        }

        .user::after {
          color: #888;
          content: "> ";
        }
      }
    }

    .chat_input {
      flex: 0 0 auto;
      display: flex;

      INPUT {
        flex: 1 1 auto;
      }

      BUTTON {
        flex: 0 0 auto;
      }

      INPUT,
      BUTTON {
        height: 2em;
      }
    }
  }

  .viewers {
    grid-area: viewers;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #666;
    background: #444;

    LI {
      flex: 0 0 auto;
      display: inline-block;
      border: 1px solid #888;
      background: #444;
      border-radius: 1em;
      padding: 0.5em;
    }

    .admin {
      background: #664;
      font-weight: bold;
    }
  }

  .movie_list {
    grid-area: movies;
  }
}

MAIN.login {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  HEADER {
    flex: 0 0 auto;
  }

  ARTICLE {
    flex: 0 1 auto;
    overflow: scroll;
    padding: 1rem;

    .inputBlock {
      border: 2px solid #8C8;
      border-radius: 0.5rem;
      margin: 1rem auto;
      display: block;
      background: white;

      P {
        margin: 0px;
        padding: 0.5rem;
      }
    }

    INPUT[type="text"],
    INPUT[type="button"],
    SELECT {
      font-size: 2rem;
      padding: 0.5rem;
      width: 100%;
      border-radius: 0.5rem;
      margin: 1rem auto;
    }
  }

  FOOTER {
    flex: 0 0 auto;
  }
}

MAIN {
  background: #222;
}

HEADER {
  text-align: center;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #666;
  background: #444;

  I {
    flex: 0 0 auto;
    width: 4rem;
    font-size: 2rem;
  }

  H1 {
    flex: 1 1 auto;
    font-size: 1.5rem;
  }

  INPUT {
    font-size: 1em;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
  }
}

FOOTER {
  border-top: 1px solid #666;
  text-align: center;
  padding: 0 1rem;
  background: #444;
}