
/**********************************************************************
 * Common layout
 */

* {
  box-sizing: border-box;
}

/* svg wibbling */
svg {
  path {
    fill: currentColor;
  }
}
BUTTON svg, SPAN svg {
  top: .125em;
  position: relative;
}

BODY {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  background-color: #222;
  color: #DDD;

  A {
    color: #BBF;
  }
}

.settings {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  DIV {
    flex: 0 0 auto;
    text-align: center;
    z-index: 9999;
    background: white;
    color: black;
    border: 2px solid black;
    border-radius: 1em;
    box-shadow: #000 0 0 1em;
    padding: 1em;

    H2 {
      margin: 0;
    }

    INPUT[type="text"],
    BUTTON {
      width: 100%;
    }
  }

  TABLE {
    TD:first-child {
      text-align: right;
      padding-right: .25rem;
    }
    TD:nth-child(2) {
      text-align: left;
    }
  }
}

MAIN {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  // use "height" instead of "bottom" so that we can override
  // with height=visualViewport.height when the virtual keyboard
  // causes the viewport height to change
  height: 100%;

  display: grid;
  gap: 1px 1px;
  background-color: #999;

  HEADER {
    grid-area: header;
    text-align: center;
    display: flex;
    align-items: center;
    background: #444;
    overflow-x: scroll;

    svg {
      flex: 0 0 auto;
      width: 4rem;
      font-size: 2rem;
    }

    H1 {
      flex: 1 1 auto;
      font-size: 1.5rem;
    }

    INPUT {
      font-size: 1em;
      padding: 0.2rem 0.5rem;
      border-radius: 0.5rem;
      max-width: 50%;
    }
  }
}

/**********************************************************************
 * Page-specific layouts
 */

MAIN.login {
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "header"
    "content";
  text-align: center;

  ARTICLE {
    grid-area: content;
    overflow: scroll;
    padding: 1rem;
    background: #222;

    FORM {
      max-width: 30em;
      margin: auto;
    }

    INPUT[type="text"],
    INPUT[type="button"],
    SELECT {
      font-size: 2rem;
      padding: 0.5rem;
      width: 100%;
      border-radius: 0.5rem;
      margin: .5rem auto;
    }
  }
}

MAIN.room.admin {
  grid-template-columns: 1fr 20em;
  grid-template-rows: 4rem 2rem 1fr 2rem 3rem;
  grid-template-areas:
    "header   header"
    "movies   chat"
    "video    chat"
    "controls chat"
    "viewers  chat";

  @media (orientation: portrait) {
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 2rem min-content 2rem 1fr 3rem;
    grid-template-areas:
      "header"
      "movies"
      "video"
      "controls"
      "chat"
      "viewers";

    VIDEO {
      height: auto;
    }
  }
}

MAIN.room.user {
  grid-template-columns: 1fr 20rem;
  grid-template-rows: 4rem 1fr 3rem;
  grid-template-areas:
    "header  header"
    "video   chat"
    "viewers chat";

  @media (orientation: portrait) {
    grid-template-columns: 1fr;
    grid-template-rows: 4rem min-content 1fr;
    grid-template-areas:
      "header"
      "video"
      "chat";

    VIDEO {
      height: auto;
    }

    .viewers {
      display: none;
    }
  }

  .movie_list {
    display: none;
  }

  .controls {
    display: none;
  }

  &.nochat {
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr;
    grid-template-areas:
      "header"
      "video";
  background-color: #444;

    header {
      background: #111;
      color: #444;
    }
    
    .viewers {
      display: none;
    }

    .chat {
      display: none;
    }
  }
}

MAIN.room {
  VIDEO {
    grid-area: video;
    background: #111;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .blackout {
    grid-area: video;
    background: #111;
  }

  .video_hint {
    color: black;
    background: #D44;
    padding: 0.2em;
  }

  .chat {
    background: #222;
    grid-area: chat;
    display: flex;
    flex-direction: column;

    .chat_log {
      flex: 1 1 auto;
      height: 2em;
      overflow: scroll;
      text-align: left;
      margin: 0;
      padding: 1em;

      LI {
        display: block;

        .absolute_timestamp {
          color: #666;
        }

        .absolute_timestamp::after {
          content: " ";
        }
      }

      LI.system {
        color: #888;

        .user {
          display: none;
        }
      }

      LI.user {
        .user::before {
          color: #888;
          content: "<";
        }

        .user::after {
          color: #888;
          content: "> ";
        }
      }
    }

    .chat_input {
      flex: 0 0 auto;

      INPUT {
        font-size: 1.5rem;
        width: 100%;
      }
    }
  }

  .viewers {
    grid-area: viewers;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #666;
    background: #444;

    LI {
      flex: 0 0 auto;
      display: inline-block;
      border: 1px solid #888;
      background: #444;
      border-radius: 1em;
      padding: 0.5em;
    }

    .admin {
      background: #664;
      font-weight: bold;
    }
  }

  .movie_list {
    grid-area: movies;
    display: flex;

    SELECT {
      flex: 1 1 auto;
    }

    BUTTON {
      flex: 0 0 auto;
    }
  }

  .controls {
    grid-area: controls;
    display: flex;

    INPUT {
      flex: 1 1 auto;
    }

    BUTTON {
      flex: 0 0 auto;
    }

    SPAN {
      flex: 0 0 auto;
      align-self: center;
      padding: 0 .5rem;
    }
  }
}