/**********************************************************************
 * Common layout
 */

 :root {
    --background: #222;
    --blackout: #111;
    --header: #444;
    --admin: #664;
    --text: #DDD;
    --link: #BBF;
    --grid: #999;
    --chat-timestamp: #666;
    --chat-system: #888;
    // color-scheme: dark;
}
// FIXME: use this
MAIN.dimmed {
    --header: #111;
    --text: #444;
    --grid: #444;
}

* {
    box-sizing: border-box;
}

/* svg wibbling */
svg {
    path {
        fill: currentColor;
    }
}

BUTTON svg,
SPAN svg {
    top: .125em;
    position: relative;
}
BUTTON svg {
    margin: 0 .2em;
}

BODY {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    background-color: var(--background);
}

.settings {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    DIV {
        flex: 0 0 auto;
        text-align: center;
        z-index: 9999;
        background: var(--header);
        border: 2px solid var(--grid);
        border-radius: 1em;
        box-shadow: var(--grid) 0 0 1em;
        padding: 1em;

        H2 {
            margin: 0;
        }

        INPUT[type="text"],
        BUTTON {
            width: 100%;
        }
    }

    TABLE {
        TD:first-child {
            text-align: right;
            padding-right: .25rem;
        }

        TD:nth-child(2) {
            text-align: left;
        }
    }
}

MAIN {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    // use "height" instead of "bottom" so that we can override
    // with height=visualViewport.height when the virtual keyboard
    // causes the viewport height to change
    height: 100%;

    display: grid;
    gap: 1px 1px;
    background-color: var(--grid);

    color: var(--text);

    A {
        color: var(--link);
    }

    HEADER {
        grid-area: header;
        text-align: center;
        display: flex;
        align-items: center;
        background: var(--header);

        svg {
            flex: 0 0 auto;
            width: 4rem;
            font-size: 2rem;
        }

        H1 {
            flex: 1 1 auto;
            font-size: 1.5rem;
        }

        INPUT {
            font-size: 1em;
            padding: 0.2rem 0.5rem;
            border-radius: 0.5rem;
            max-width: 50%;
        }
    }

    ARTICLE {
        background: var(--background);
    }

}

/**********************************************************************
 * Page-specific layouts
 */

MAIN.login {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "header"
        "content";
    text-align: center;

    ARTICLE {
        grid-area: content;
        padding: 1rem;

        FORM {
            max-width: 30em;
            margin: auto;
        }

        INPUT[type="text"],
        BUTTON,
        SELECT {
            font-size: 2rem;
            padding: 0.5rem;
            width: 100%;
            border-radius: 0.5rem;
            margin: .5rem auto;
        }
    }
}

MAIN.room.nochat {
    .chat {
        display: none;
    }

    .viewers {
        display: none;
    }
}
MAIN.room.user {
    .movie_list {
        display: none;
    }

    .video {
        .controls {
            display: none;
        }    
    }
}

MAIN.room.admin.chat {
    grid-template-columns: 1fr minmax(5em, min(20em, 50%));
    grid-template-rows: 4rem 2rem 1fr 3rem;
    grid-template-areas:
        "header   header"
        "movies   chat"
        "video    chat"
        "viewers  chat";

    @media (orientation: portrait) {
        grid-template-columns: 100%;
        grid-template-rows: 4rem 2rem min-content 1fr 3rem;
        grid-template-areas:
            "header"
            "movies"
            "video"
            "chat"
            "viewers";
    }
}

MAIN.room.admin.nochat {
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 2rem 1fr;
    grid-template-areas:
        "header"
        "movies"
        "video";
}

MAIN.room.user.chat {
    grid-template-columns: 1fr minmax(5em, min(20em, 50%));
    grid-template-rows: 4rem 1fr 3rem;
    grid-template-areas:
        "header  header"
        "video   chat"
        "viewers chat";

    @media (orientation: portrait) {
        grid-template-columns: 100%;
        grid-template-rows: 4rem min-content 1fr;
        grid-template-areas:
            "header"
            "video"
            "chat";

        .viewers {
            display: none;
        }
    }
}
MAIN.room.user.nochat {
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr;
    grid-template-areas:
        "header"
        "video";
}

MAIN.room {
    .movie_list {
        grid-area: movies;
        display: flex;

        SELECT {
            flex: 1 1 auto;
            width: 10px;
        }

        BUTTON {
            flex: 0 0 auto;
        }
    }

    .video {
        grid-area: video;
        background: var(--blackout);
        display: flex;
        flex-direction: column;

        VIDEO {
            width: 100%;
            height: 100%;
            object-fit: contain;
            flex: 1 1 auto;
        }

        .video_hint {
            color: black;
            background: #D44;
            padding: 0.2em;
            flex: 1 1 auto;
        }

        .controls {
            flex: 1 1 auto;
            display: flex;
    
            INPUT {
                flex: 1 1 auto;
                min-width: 0px;
            }
    
            BUTTON {
                flex: 0 0 auto;
            }
    
            SPAN {
                flex: 0 0 auto;
                align-self: center;
                padding: 0 .5rem;
            }
        }
    }

    .blackout {
        grid-area: video;
        background: var(--blackout);
    }

    .chat {
        background: var(--background);
        grid-area: chat;
        display: flex;
        flex-direction: column;

        .chat_log {
            flex: 1 1 auto;
            height: 2em;
            overflow-wrap: break-word;
            overflow-y: scroll;
            text-align: left;

            display:flex;
            flex-direction:column-reverse;

            UL {
                margin: 0;
                padding: 1em;

                LI {
                    display: block;

                    .absolute_timestamp {
                        color: var(--chat-timestamp);
                    }

                    .absolute_timestamp::after {
                        content: " ";
                    }
                    .message {
                        .spoiler {
                            color: var(--blackout);
                            background: var(--blackout);
                            //border: 1px solid var(--grid);
                            cursor: pointer;
                            //padding: 0.1em;
                            //border-radius: 0.2em;
                        }
                        .spoiler:hover,
                        .spoiler.show {
                            color: var(--text);
                            background: var(--background);
                        }
                    }
                }

                LI.system {
                    color: var(--chat-system);

                    .user {
                        display: none;
                    }
                }

                LI.user {
                    .user::before {
                        color: var(--chat-system);
                        content: "<";
                    }

                    .user::after {
                        color: var(--chat-system);
                        content: "> ";
                    }
                }
            }
        }

        .chat_input {
            flex: 0 0 auto;
            display: flex;

            INPUT {
                flex: 1 1 auto;
                font-size: 1.5rem;
                width: 100%;
            }
        }
    }

    .viewers {
        grid-area: viewers;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background: var(--header);

        LI {
            flex: 0 0 auto;
            display: inline-block;
            border: 1px solid var(--grid);
            background: var(--header);
            border-radius: 1em;
            padding: 0.5em;
        }

        .admin {
            background: var(--admin);
            font-weight: bold;
        }
    }
}